# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# IDE
.idea/
.vscode/
.DS_Store
__MACOSX/

# Local tooling
.tools/

# Static resources
resources/fonts/

# Sensitive config
config.py

# Outputs
output/
build/
esp32/**/build/

# Database
filelist.txt
*.db

# Logs

# Others
test/
old/
